<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deluxHotel.DeluxHotelMS.dao.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="com.deluxHotel.DeluxHotelMS.bean.RoomType">
    <id column="room_type_id" jdbcType="INTEGER" property="roomTypeId" />
    <result column="room_type_number" jdbcType="VARCHAR" property="roomTypeNumber" />
    <result column="room_type_name" jdbcType="VARCHAR" property="roomTypeName" />
    <result column="room_type_price" jdbcType="VARCHAR" property="roomTypePrice" />
    <result column="room_type_size" jdbcType="VARCHAR" property="roomTypeSize" />
    <result column="room_type_adult" jdbcType="VARCHAR" property="roomTypeAdult" />
    <result column="room_type_child" jdbcType="VARCHAR" property="roomTypeChild" />
    <result column="room_type_available_number" jdbcType="VARCHAR" property="roomTypeAvailableNumber" />
    <result column="room_type_introdution" jdbcType="VARCHAR" property="roomTypeIntrodution" />
    <result column="room_type_pic" jdbcType="VARCHAR" property="roomTypePic" />
    <result column="facility_service_id" jdbcType="INTEGER" property="facilityServiceId" />
    <association property="facilityService" column="facility_service_id" select="com.deluxHotel.DeluxHotelMS.dao.FacilityServiceMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    room_type_id, room_type_number, room_type_name, room_type_price, room_type_size, 
    room_type_adult, room_type_child, room_type_available_number, room_type_introdution, 
    room_type_pic, facility_service_id
  </sql>
  <select id="selectByExample" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_type
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_type
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomTypeExample">
    delete from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomType">
    insert into room_type (room_type_id, room_type_number, room_type_name, 
      room_type_price, room_type_size, room_type_adult, 
      room_type_child, room_type_available_number, 
      room_type_introdution, room_type_pic, facility_service_id
      )
    values (#{roomTypeId,jdbcType=INTEGER}, #{roomTypeNumber,jdbcType=VARCHAR}, #{roomTypeName,jdbcType=VARCHAR}, 
      #{roomTypePrice,jdbcType=VARCHAR}, #{roomTypeSize,jdbcType=VARCHAR}, #{roomTypeAdult,jdbcType=VARCHAR}, 
      #{roomTypeChild,jdbcType=VARCHAR}, #{roomTypeAvailableNumber,jdbcType=VARCHAR}, 
      #{roomTypeIntrodution,jdbcType=VARCHAR}, #{roomTypePic,jdbcType=VARCHAR}, #{facilityServiceId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomType">
    insert into room_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomTypeId != null">
        room_type_id,
      </if>
      <if test="roomTypeNumber != null">
        room_type_number,
      </if>
      <if test="roomTypeName != null">
        room_type_name,
      </if>
      <if test="roomTypePrice != null">
        room_type_price,
      </if>
      <if test="roomTypeSize != null">
        room_type_size,
      </if>
      <if test="roomTypeAdult != null">
        room_type_adult,
      </if>
      <if test="roomTypeChild != null">
        room_type_child,
      </if>
      <if test="roomTypeAvailableNumber != null">
        room_type_available_number,
      </if>
      <if test="roomTypeIntrodution != null">
        room_type_introdution,
      </if>
      <if test="roomTypePic != null">
        room_type_pic,
      </if>
      <if test="facilityServiceId != null">
        facility_service_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomTypeId != null">
        #{roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="roomTypeNumber != null">
        #{roomTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeName != null">
        #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="roomTypePrice != null">
        #{roomTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeSize != null">
        #{roomTypeSize,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeAdult != null">
        #{roomTypeAdult,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeChild != null">
        #{roomTypeChild,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeAvailableNumber != null">
        #{roomTypeAvailableNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeIntrodution != null">
        #{roomTypeIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="roomTypePic != null">
        #{roomTypePic,jdbcType=VARCHAR},
      </if>
      <if test="facilityServiceId != null">
        #{facilityServiceId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomTypeExample" resultType="java.lang.Long">
    select count(*) from room_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room_type
    <set>
      <if test="record.roomTypeId != null">
        room_type_id = #{record.roomTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.roomTypeNumber != null">
        room_type_number = #{record.roomTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeName != null">
        room_type_name = #{record.roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypePrice != null">
        room_type_price = #{record.roomTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeSize != null">
        room_type_size = #{record.roomTypeSize,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeAdult != null">
        room_type_adult = #{record.roomTypeAdult,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeChild != null">
        room_type_child = #{record.roomTypeChild,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeAvailableNumber != null">
        room_type_available_number = #{record.roomTypeAvailableNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeIntrodution != null">
        room_type_introdution = #{record.roomTypeIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypePic != null">
        room_type_pic = #{record.roomTypePic,jdbcType=VARCHAR},
      </if>
      <if test="record.facilityServiceId != null">
        facility_service_id = #{record.facilityServiceId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room_type
    set room_type_id = #{record.roomTypeId,jdbcType=INTEGER},
      room_type_number = #{record.roomTypeNumber,jdbcType=VARCHAR},
      room_type_name = #{record.roomTypeName,jdbcType=VARCHAR},
      room_type_price = #{record.roomTypePrice,jdbcType=VARCHAR},
      room_type_size = #{record.roomTypeSize,jdbcType=VARCHAR},
      room_type_adult = #{record.roomTypeAdult,jdbcType=VARCHAR},
      room_type_child = #{record.roomTypeChild,jdbcType=VARCHAR},
      room_type_available_number = #{record.roomTypeAvailableNumber,jdbcType=VARCHAR},
      room_type_introdution = #{record.roomTypeIntrodution,jdbcType=VARCHAR},
      room_type_pic = #{record.roomTypePic,jdbcType=VARCHAR},
      facility_service_id = #{record.facilityServiceId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomType">
    update room_type
    <set>
      <if test="roomTypeNumber != null">
        room_type_number = #{roomTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeName != null">
        room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="roomTypePrice != null">
        room_type_price = #{roomTypePrice,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeSize != null">
        room_type_size = #{roomTypeSize,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeAdult != null">
        room_type_adult = #{roomTypeAdult,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeChild != null">
        room_type_child = #{roomTypeChild,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeAvailableNumber != null">
        room_type_available_number = #{roomTypeAvailableNumber,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeIntrodution != null">
        room_type_introdution = #{roomTypeIntrodution,jdbcType=VARCHAR},
      </if>
      <if test="roomTypePic != null">
        room_type_pic = #{roomTypePic,jdbcType=VARCHAR},
      </if>
      <if test="facilityServiceId != null">
        facility_service_id = #{facilityServiceId,jdbcType=INTEGER},
      </if>
    </set>
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deluxHotel.DeluxHotelMS.bean.RoomType">
    update room_type
    set room_type_number = #{roomTypeNumber,jdbcType=VARCHAR},
      room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      room_type_price = #{roomTypePrice,jdbcType=VARCHAR},
      room_type_size = #{roomTypeSize,jdbcType=VARCHAR},
      room_type_adult = #{roomTypeAdult,jdbcType=VARCHAR},
      room_type_child = #{roomTypeChild,jdbcType=VARCHAR},
      room_type_available_number = #{roomTypeAvailableNumber,jdbcType=VARCHAR},
      room_type_introdution = #{roomTypeIntrodution,jdbcType=VARCHAR},
      room_type_pic = #{roomTypePic,jdbcType=VARCHAR},
      facility_service_id = #{facilityServiceId,jdbcType=INTEGER}
    where room_type_id = #{roomTypeId,jdbcType=INTEGER}
  </update>
</mapper>