<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>员工一览</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="assets/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!--bootstrap-table  -->
<link href="assets/css/bootstrap-table.css" rel="stylesheet">
 <!-- js-->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/js/modernizr.custom.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.js"> </script>
<!-- Bootstrap Table插件 -->
<script src="assets/js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
<!-- 表单验证js -->
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<!-- 表单验证js -->
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="assets/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="assets/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/custom.js"></script>
<link href="assets/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--左侧导航栏-->
		<div th:replace="back/left::left"></div>
		<!--/左侧导航栏-->
		<!-- 头部导航 -->
		<div th:replace="back/header::header"></div>
		<!-- /头部导航 -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<h3 class="title1">房型信息一览表</h3>
				<div id="toolbar" class="btn-toolbar" role="toolbar">
					<div class="btn-group">
					    <button class="btn btn-primary fa fa-plus nav_icon" data-toggle="modal" data-target="#addRoomTypeModal" type="button">&nbsp;新增房型</button>
					</div>
				</div>
				<table id="roomTypeInfoTable" class="table table-bordered">
				</table>
			</div>
			<!-- 房型信息模态框 -->
		<div class="modal fade" id="roomTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		               <h4 class="title3">房型信息</h4>
		            </div>
		            <div class="modal-body">
						<form id="roomTypeForm">
							<div class="sign-u">
									<div class="sign-up1">
										<h4>房型号 :</h4>
									</div>
									<div class="sign-up2">
											<input id="roomTypeNumber" name="roomTypeNumber" type="text" readonly="readonly" required>
									</div>
									<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型名称 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="roomTypeName" name="roomTypeName" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypeName')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>价格 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="roomTypePrice" name="roomTypePrice" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypePrice')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型面积 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="roomTypeSize" name="roomTypeSize" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypeSize')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>最大入住成人数 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="roomTypeAdult" name="roomTypeAdult" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypeAdult')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>最大入住儿童数 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="roomTypeChild" name="roomTypeChild" type="text">
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypeChild')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型介绍 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<textarea  class="form-control1 control2" id="roomTypeIntrodution" name="roomTypeIntrodution"></textarea>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'roomTypeIntrodution')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</form>
		            </div>
		            <div class="modal-footer">
		             <button id="roomTypeUpdateBtn" type="button" class="btn btn-primary" onclick="updateRoomTypeInfo()">修改</button>
		                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- /房型信息模态框 -->
		<!-- 房型对应服务模态框 -->
		<div class="modal fade" id="facilityServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		               <h4 class="title3">房型服务信息</h4>
		            </div>
		            <div class="modal-body">
						<form id="facilityServiceForm">
							<div class="sign-u">
								<div class="sign-up1">
									<h4>床铺型号 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="facilityServiceBedType" name="facilityServiceBedType" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'facilityServiceBedType')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>床铺数量 :</h4>
								</div>
								<div class="sign-up2">
									<div class="input-group">
										<input id="facilityServiceBedNumber" name="facilityServiceBedNumber" type="text" required>
										<span class="input-group-addon">
                    						<input type="checkbox" onclick="modify(this,'facilityServiceBedNumber')"/>
               		 					</span>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Wi-Fi :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio"  value="1" name="facilityServiceWifi" >
										全覆盖
									</label>
									<label>
										<input type="radio"  value="0" name="facilityServiceWifi" >
										无
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>客房服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceRoomService" required>
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceRoomService" required>
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>早餐服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceBreakfast" required>
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceBreakfast" required>
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>洗衣服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceLaundry" required>
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceLaundry" required>
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>接送服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceTransferService" required>
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceTransferService" required>
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
						</form>
		            </div>
		            <div class="modal-footer">
		             <button id="facilityServiceUpdateBtn" type="button" class="btn btn-primary">修改</button>
		                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- /房型对应服务模态框 -->
		<!-- 新增房型模态框-->
		<div class="modal fade" id="addRoomTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		               <h4 class="title3">新增房型</h4>
		            </div>
		            <div class="modal-body">
						<form id="addRoomTypeForm">
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型号码（唯一） :</h4>
								</div>
								<div class="sign-up2">
									<input name="roomTypeNumber" type="text">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型名 （唯一）:</h4>
								</div>
								<div class="sign-up2">
									<input name="roomTypeName" type="text" >
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型价格 :</h4>
								</div>
								<div class="sign-up2">
									<input name="roomTypePrice" type="text">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型面积 :</h4>
								</div>
								<div class="sign-up2">
										<input name="roomTypeSize" type="text">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>最大入住成人数 :</h4>
								</div>
								<div class="sign-up2">
										<input name="roomTypeAdult" type="text" >
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>最大入住儿童数 :</h4>
								</div>
								<div class="sign-up2">
									<input name="roomTypeChild" type="text" >
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型介绍（不超过60字） :</h4>
								</div>
								<div class="sign-up2">
									<textarea class="form-control1 control2" name="roomTypeIntrodution"></textarea>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>房型图片（jpg和png） :</h4>
								</div>
								<div class="sign-up2">
									<input style="margin-top:3%;" type="file" name="roomPic">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>床铺型号 :</h4>
								</div>
								<div class="sign-up2">
										<input  name="facilityServiceBedType" type="text">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>床铺数量 :</h4>
								</div>
								<div class="sign-up2">
										<input name="facilityServiceBedNumber" type="text" >
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Wi-Fi :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio"  value="1" name="facilityServiceWifi">
										全覆盖
									</label>
									<label>
										<input type="radio"  value="0" name="facilityServiceWifi">
										无
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>客房服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceRoomService">
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceRoomService">
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>早餐服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceBreakfast" >
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceBreakfast">
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>洗衣服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceLaundry" >
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceLaundry" >
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>接送服务 :</h4>
								</div>
								<div class="sign-up2">
									<label>
										<input type="radio" value="1" name="facilityServiceTransferService" >
										免费提供
									</label>
									<label>
										<input type="radio" value="0" name="facilityServiceTransferService" >
										有偿使用
									</label>
								</div>
								<div class="clearfix"> </div>
							</div>
						</form>
		            </div>
		            <div class="modal-footer">
		             <button type="button" class="btn btn-primary" onclick="addRoomType()">新增</button>
		                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<!-- /新增房型模态框 -->
		</div>
	</div>
	<!--footer-->
		<div th:replace="back/footer::footer" class="footer"></div>
        <!--//footer-->
	<!-- Classie -->
		<script src="assets/js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!--scrolling js-->
	<!-- <script src="assets/js/jquery.nicescroll.js"></script>
	<script src="assets/js/scripts.js"></script> -->
	<!--//scrolling js-->
	<!-- 文件上传js -->
	<script type="text/javascript" src="assets/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="assets/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="assets/js/jquery.fileupload.js"></script>
	<!-- /文件上传js -->
	<!-- roomtypeinfo页面自编的js -->
   	<script type="text/javascript" src="assets/js/roomtypeinfo.js"></script>
   	<!-- /roomtypeinfo页面自编的js -->
</body>
</html>