<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- footer -->
<footer class="footer" th:fragment="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="footer-top_logo">
						<a href="index.html"><img src="assets/images/logo/logo.png"
							alt="Footer logo"></a>
					</div>
					<div class="footer-top_txt">
						<p>迪卢克斯酒店是天堂酒店及度假村旗下的奢华酒店，为社会名流及精英人士，提供精益求精的个性化贴心服务，并打造极致非凡体验的奢华酒店品牌。</p>
					</div>
					<div class="footer-top_address">
						<div>
							<i class="fa fa-phone"></i> Phone: <span>0731-123456789</span>
						</div>
						<div>
							<i class="fa fa-envelope-o"></i> E-mail: <span><a
								href="mailto:support@email.com">123456789@qq.com</a></span>
						</div>
						<div>
							<i class="fa fa-home"></i> 地址: <span>长沙,湖南,中国</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="footer-top_rooms">
						<ul>
							<li>
								<div class="rooms_img">
									<a href="blog-detail.html"><img
										src="assets/images/footer/1.jpg" alt=""></a>
								</div>
								<div class="rooms_info">
									<div class="rooms_t">
										<a href="blog-detail.html">超大豪华套房</a>
									</div>
									<div class="rooms_props">
										3 床 / Wi-Fi / 2 浴室<span>￥699</span>
									</div>
								</div>
							</li>
							<li>
								<div class="rooms_img">
									<a href="blog-detail.html"><img
										src="assets/images/footer/2.jpg" alt=""></a>
								</div>
								<div class="rooms_info">
									<div class="rooms_t">
										<a href="blog-detail.html">总统套房</a>
									</div>
									<div class="rooms_props">
										4床 / 单独会客厅 / 小型水吧<span>￥7999</span>
									</div>
								</div>
							</li>
							<li>
								<div class="rooms_img">
									<a href="blog-detail.html"><img
										src="assets/images/footer/3.jpg" alt=""></a>
								</div>
								<div class="rooms_info">
									<div class="rooms_t">
										<a href="blog-detail.html">Spa双人房</a>
									</div>
									<div class="rooms_props">
										2 床 / Wi-Fi / Spa房<span>$999</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 marg-sm-50 col-xs-12">
					<div class="footer-top_contact_form">
						<div class="contact_form_t">订阅我们的推送服务</div>
						<form action="mail.php" method="POST"
							class="row form-horizontal form-wizzard">
							<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<input type="text" name="name" class="form-control" placeholder="姓名...">
										</div> -->
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input type="email" name="email" class="form-control"
									placeholder="Email...">

							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
								<input type="submit" value="订 阅" class="btn btn-default">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="footer-bottom_copy">
						Copyright &copy; <a target="_blank"
							href="https://github.com/LiuZiyuan-CS">LiuZiyuan.</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="footer-bottom_links">
						<a class="active" href="index.html">主页</a> <a href="gallery.html">浏览</a>
						<a href="blog.html">博客</a> <a href="wizzard-step1.html">预定</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->