<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Delux酒店-只为提供最优质的服务</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/responsive.css">
	</head>
	<body>
		<!-- main wrapper -->
		<div class="wrapper">
			<!-- header -->
			<header class="header">
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
								<div class="header-location">
									<i class="fa fa-map-marker"></i> <a href="#">长沙,湖南,中国</a>
								</div>
								<div class="header-email">
									<i class="fa fa-envelope-o"></i> <a href="mailto:support@email.com">123456789@qq.com</a>
								</div>
								<div class="header-phone">
									<i class="fa fa-phone"></i> <a href="#">0731-123456789</a>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
								<div class="header-social pull-right">
									<a href="signIn.html" target="_blank" ><i class="fa fa-sign-in" title="会员登录" ></i></a>
									<a href="#"><i class="fa fa-weixin" title="官方微信"></i></a>
									<a href="#"><i class="fa fa-weibo" title="官方微博"></i></a>
									<a href="#"><i class="fa fa-comments" title="在线客服"></i></a>
									<a href="#"><i class="fa fa-cog" title="设置"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottom">
					<nav class="navbar navbar-universal navbar-custom">
						<div class="container">
							<div class="row">
								<div class="col-lg-3">
									<div class="logo"><a href="index.html" class="navbar-brand page-scroll"><img src="assets/images/logo/logo.png"
											 alt="logo"></a></div>
								</div>
								<div class="col-lg-9">
									<div class="navbar-header">
										<button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span
											 class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
											 class="icon-bar"></span></button>
									</div>
									<div class="collapse navbar-collapse navbar-main-collapse">
										<ul class="nav navbar-nav navbar-right">
											<li><a href="index.html">主页</a></li>
											<li><a href="about-us.html">关于我们</a></li>
											<li><a href="contacts.html">联系我们</a></li>
											<li><a href="best-rooms.html">所有房型</a></li>
											<li><a href="best-rooms-detail.html">房间详细信息</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</header>
			<!-- /header -->
			<!-- parallax -->
			<section class="bg-parallax parallax-window">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="parallax-text">
								<h2 class="parallax_t __white">Delux&nbsp;&nbsp;Hotel</h2>
								<h2 class="parallax_t __green">于 10.12.2017开业</h2>
								<p>迪卢克斯酒店是天堂酒店及度假村旗下的奢华酒店，为社会名流及精英人士，提供精益求精的个性化贴心服务，并打造极致非凡体验的奢华酒店品牌。</p>
							</div>
						</div>
						<!-- planner-->
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
							<div class="planner-block">
								<form class="form-planner form-horizontal">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>入住日期</label>
												<input class="form-control" id="datetimepicker1" type="date" placeholder="26-1-2021">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>退房日期</label>
												<input class="form-control" id="datetimepicker2" type="date" placeholder="26-1-2021">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>房间类型</label>
												<div class="theme-select">
													<select class="form-control __plannerSelect">
														<option value="">选择您所需要的房间</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
											<div class="form-group">
												<label>成人</label>
												<div class="theme-select">
													<select class="form-control __plannerSelect">
														<option value="">1</option>
														<option value="">2</option>
														<option value="">3</option>
														<option value="">4</option>
														<option value="">5</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
											<div class="form-group">
												<label>儿童</label>
												<div class="theme-select">
													<select class="form-control __plannerSelect">
														<option value="">1</option>
														<option value="">2</option>
														<option value="">3</option>
														<option value="">4</option>
														<option value="">5</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<label>联系电话</label>
												<input type="mobilephone" class="form-control" placeholder="入住旅客联系电话">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<label>价格范围</label>
												<div id="slider-range"></div>
												<div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="planner-check-availability">
												<a href="wizzard-step1.html" class="btn btn-default">检查可用房间</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- /planner-->
					</div>
				</div>
			</section>
			<!-- /parallax -->
			<!-- chose best rooms -->
			<section class="best-room">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">周末入住享有最佳优惠<span class="title-secondary">浏览适合您的房型</span></h2>
					</div>
					<div class="best-room-carousel">
						<ul class="row best-room_ul">
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/1.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">豪华大型双人房</a></div>
									<div class="best-room_desc">豪华客房设计雅致，温馨宜人。
									客房内还拥有无线上网设施及国际卫星电视频道，您可时刻紧跟时代节奏，随时掌握最新资讯。
									</div>
									<div class="best-room_price">
										<span>￥599</span> / 晚
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/2.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">舒适SPA大床房</a></div>
									<div class="best-room_desc">豪华客房设计雅致，温馨宜人。
									客房内还拥有SPA房，您可随时享受令人舒适Spa体验，享受顶级spa体验。
									</div>
									<div class="best-room_price">
										<span>￥799</span> / 晚
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/3.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">奢华双人大床房</a></div>
									<div class="best-room_desc">房间面积由38至46平方米，浴室采独立式淋浴和浸浴设计，
									更备有一系列奢华设备，客房设计大方亮丽，处处流露出法式优雅品味。
									</div>
									<div class="best-room_price">
										<span>￥2099</span> / 晚
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/4.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">豪华海景大床房</a></div>
									<div class="best-room_desc">房间面积由38至46平方米，浴室采独立式淋浴和浸浴设计，
									更备有一系列奢华设备，客房设计大方亮丽，处处流露出法式优雅品味。
									</div>
									<div class="best-room_price">
										<span>￥2599</span> / 晚
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/5.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">优雅Spa房</a></div>
									<div class="best-room_desc">豪华客房设计雅致，温馨宜人。
									客房内还拥有SPA房，您可随时享受令人舒适Spa体验，随时掌握最新资讯。
									</div>
									<div class="best-room_price">
										<span>$1599</span> / 晚
									</div>
								</div>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img src="assets/images/best-rooms/6.jpg" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a href="best-rooms-detail.html">行政套房</a></div>
									<div class="best-room_desc" >俯瞰城市的繁华景色,设计糅合现代生活品味与传统中国特色，
									营造出大方亮丽又不失时尚气息的优雅空间，让宾客尽情放松休憩。
									</div>
									<div class="best-room_price">
										<span>$6888</span> / 晚
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- /choose best rooms -->
			<!-- lux banner parallax -->
			<section class="banner bg-parallax2">
				<div class="overlay"></div>
				<div class="banner-parallax">
					<div class="container">
						<div class="text-center">
							<div class="banner-parallax_raiting">
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star"></span></a>
								<a href="#"><span class="star"></span></a>
							</div>
							<h2 class="banner-parallax_t">本周折扣：奢华双人大床房</h2>
							<div class="banner-parallax_price"><span>￥999</span> / 晚 (仅限本周)</div>
							<a href="#" class="btn btn-default">现&nbsp;在&nbsp;预&nbsp;定</a>
						</div>
					</div>
				</div>
			</section>
			<!-- /lux banner parallax -->
			<!-- enjoy our services -->
			<section class="section">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">服&nbsp;务&nbsp;宗&nbsp;旨<span class="title-secondary">安全 舒适 便捷</span></h2>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-globe"></i> 设计别样的旅程</h3>
							<p>专业团队为您设计独家定制旅途安排，让您旅途难忘</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-taxi"></i> 周到接机服务</h3>
							<p>提前预定接送服务，为您的旅途保驾护航</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-glass"></i> 酒店内私密酒吧</h3>
							<p>无论会客，还是交友，为您的隐私需要提供绝佳场所</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-life-ring"></i> 及其优惠的价格</h3>
							<p>作为酒店行业运营的佼佼者，我们拥有最打动人的价格</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-leaf"></i> 专业人员服务</h3>
							<p>专业的酒店人员服务，让您宾至如归</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-eye"></i> 24小时泊车服务</h3>
							<p>酒店停车场24小时专人泊车，让您拜托停车难的困扰</p>
						</div>
					</div>
				</div>
			</section>
			<!-- /enjoy our services -->
			<!-- testiomonials -->
			<section class="testimonials">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">评&nbsp;&nbsp;&nbsp;&nbsp;价<span class="title-secondary">客人对我们的评价</span></h2>
					</div>
					<div class="owl-carousel">
						<div class="item">
							<div class="testimonials-block_i">
								<div class="testimonials-block_t">Great <span>Service</span></div>
								<p>Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By
									rent an part need. At wrong of of water those linen. Needed oppose seemed how all</p>
							</div>
							<div class="testimonials-block_user">
								<div class="user_img"><img src="assets/images/testimonials/mike.jpg" alt=""></div>
								<div class="user_n">Garry Carlson</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials-block_i">
								<div class="testimonials-block_t">Thank You Very Much <span>I Am Happy!</span></div>
								<p>Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable
									him. Interested the unaffected mrs law friendship add principles.</p>
							</div>
							<div class="testimonials-block_user">
								<div class="user_img"><img src="assets/images/testimonials/mila.png" alt=""></div>
								<div class="user_n">Mila Markovna</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /testiomonials -->
			<!-- map -->
			<section class="map">
				<div id="map"></div>
			</section>
			<!-- /map -->
			<!-- /main wrapper -->
			<!-- footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="footer-top_logo"><a href="index.html"><img src="assets/images/logo/logo.png" alt="Footer logo"></a></div>
								<div class="footer-top_txt">
									<p>迪卢克斯酒店是天堂酒店及度假村旗下的奢华酒店，为社会名流及精英人士，提供精益求精的个性化贴心服务，并打造极致非凡体验的奢华酒店品牌。</p>
								</div>
								<div class="footer-top_address">
									<div><i class="fa fa-phone"></i> Phone: <span>0731-123456789</span></div>
									<div><i class="fa fa-envelope-o"></i> E-mail: <span><a href="mailto:support@email.com">123456789@qq.com</a></span></div>
									<div><i class="fa fa-home"></i> 地址: <span>长沙,湖南,中国</span></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="footer-top_rooms">
									<ul>
										<li>
											<div class="rooms_img">
												<a href="blog-detail.html"><img src="assets/images/footer/1.jpg" alt=""></a>
											</div>
											<div class="rooms_info">
												<div class="rooms_t"><a href="blog-detail.html">超大豪华套房</a></div>
												<div class="rooms_props">3 床 / Wi-Fi / 2 浴室<span>￥699</span></div>
											</div>
										</li>
										<li>
											<div class="rooms_img">
												<a href="blog-detail.html"><img src="assets/images/footer/2.jpg" alt=""></a>
											</div>
											<div class="rooms_info">
												<div class="rooms_t"><a href="blog-detail.html">总统套房</a></div>
												<div class="rooms_props">4床 / 单独会客厅 / 小型水吧<span>￥7999</span></div>
											</div>
										</li>
										<li>
											<div class="rooms_img">
												<a href="blog-detail.html"><img src="assets/images/footer/3.jpg" alt=""></a>
											</div>
											<div class="rooms_info">
												<div class="rooms_t"><a href="blog-detail.html">Spa双人房</a></div>
												<div class="rooms_props">2 床 / Wi-Fi / Spa房<span>$999</span></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 marg-sm-50 col-xs-12">
								<div class="footer-top_contact_form">
									<div class="contact_form_t">订阅我们的推送服务</div>
									<form action="mail.php" method="POST" class="row form-horizontal form-wizzard">
										<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<input type="text" name="name" class="form-control" placeholder="姓名...">
										</div> -->
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<input type="email" name="email" class="form-control" placeholder="Email...">
											
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
											<input type="submit" value="订 阅" class="btn btn-default">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="footer-bottom_copy">Copyright &copy; <a target="_blank" href="https://github.com/LiuZiyuan-CS">LiuZiyuan.</a></div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="footer-bottom_links">
									<a class="active" href="index.html">主页</a>
									<a href="gallery.html">浏览</a>
									<a href="blog.html">博客</a>
									<a href="wizzard-step1.html">预定</a>
									<a href="#">入住</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /footer -->
		<!-- Scripts -->
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/tether.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="assets/js/moment.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.smartmenus.js"></script>
		<script type="text/javascript" src="assets/js/jquery.parallax.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.shuffle.min.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
		<!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js"></script>--->
		<script type="text/javascript" src="assets/js/map.js"></script>
		<script type="text/javascript" src="assets/js/main.js"></script>
		<!-- /Scripts -->
	</body>
</html>
