<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Delux酒店-只为提供最优质的服务</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/responsive.css">
	</head>
	<body>
		<!-- main wrapper -->
		<div class="wrapper">
		<!-- header -->
		<header th:replace="front/header::header"></header>
		<!-- /header -->
		<!-- 个人信息模态框 -->
		<div th:replace="front/plugin::personalInfoModal"></div>
		<!-- /个人信息模态框 -->
			<!-- parallax -->
			<section class="bg-parallax parallax-window">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="parallax-text">
								<h2 class="parallax_t __white">Delux&nbsp;&nbsp;Hotel</h2>
								<h2 class="parallax_t __green">于 10.12.2017开业</h2>
								<p>迪卢克斯酒店是天堂酒店及度假村旗下的奢华酒店，为社会名流及精英人士，提供精益求精的个性化贴心服务，并打造极致非凡体验的奢华酒店品牌。</p>
							</div>
						</div>
						<!-- planner-->
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
							<div class="planner-block">
								<form id="checkInForm" class="form-planner form-horizontal">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>入住日期</label>
												<input name="checkInDate" class="form-control" id="datetimepicker1" type="date" placeholder="26-1-2021">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>退房日期</label>
												<input name="checkOutDate" class="form-control" id="datetimepicker2" type="date" placeholder="26-1-2021">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>房间类型</label>
												<div class="theme-select">
													<select name="roomTypeNumber" class="form-control __plannerSelect">
														<option value="">选择您所需要的房间</option>
														<option value="">豪华大型双人房</option>
														<option value="">舒适SPA大床房</option>
														<option value="">奢华双人大床房</option>
														<option value="">豪华海景大床房</option>
														<option value="">优雅Spa房</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
											<div class="form-group">
												<label>成人</label>
												<div class="theme-select">
													<select name="adultNumber" class="form-control __plannerSelect">
														<option value="">1</option>
														<option value="">2</option>
														<option value="">3</option>
														<option value="">4</option>
														<option value="">5</option>
														<option value="">6</option>
														<option value="">7</option>
														<option value="">8</option>
														<option value="">9</option>
														<option value="">10</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
											<div class="form-group">
												<label>儿童</label>
												<div class="theme-select">
													<select name="childNumber" class="form-control __plannerSelect">
														<option value="">1</option>
														<option value="">2</option>
														<option value="">3</option>
														<option value="">4</option>
														<option value="">5</option>
														<option value="">6</option>
														<option value="">7</option>
														<option value="">8</option>
														<option value="">9</option>
														<option value="">10</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<label>联系电话</label>
												<input name="userTelephone" type="tel" class="form-control" placeholder="入住旅客联系电话">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="planner-check-availability">
												<a href="wizzard-step1.html" class="btn btn-default" onclick="checkAvailableRoom()">检查可用房间</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- /planner-->
					</div>
				</div>
			</section>
			<!-- /parallax -->
			<!-- chose best rooms -->
			<section class="best-room">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">周末入住享有最佳优惠<span class="title-secondary">浏览适合您的房型</span></h2>
					</div>
					<div class="best-room-carousel">
						<ul  class="row best-room_ul">
							<li th:each="rt:${session.roomTypeInfo}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
								<div class="best-room_img">
									<a href="#"><img th:src="${rt.roomTypePic}" alt=""></a>
									<div class="best-room_overlay">
										<div class="overlay_icn"><a th:href="'rooms-detail.html?roomTypeNumber='+${rt.roomTypeNumber}"></a></div>
									</div>
								</div>
								<div class="best-room-info">
									<div class="best-room_t"><a th:href="'rooms-detail.html?roomTypeNumber='+${rt.roomTypeNumber}" th:text="${rt.roomTypeName}"></a></div>
									<div class="best-room_desc" th:text="${rt.roomTypeIntrodution}">
									</div>
									<div class="best-room_price">
										<span th:text="'￥'+${rt.roomTypePrice}"></span> / 晚
									</div>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</section>

			<!-- /choose best rooms -->
			<!-- lux banner parallax -->
			<section class="banner bg-parallax2">
				<div class="overlay"></div>
				<div class="banner-parallax">
					<div class="container">
						<div class="text-center">
							<div class="banner-parallax_raiting">
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star __selected"></span></a>
								<a href="#"><span class="star"></span></a>
								<a href="#"><span class="star"></span></a>
							</div>
							<h2 class="banner-parallax_t">本周折扣：奢华双人大床房</h2>
							<div class="banner-parallax_price"><span>￥999</span> / 晚 (仅限本周)</div>
							<a href="#" class="btn btn-default">现&nbsp;在&nbsp;预&nbsp;定</a>
						</div>
					</div>
				</div>
			</section>
			<!-- /lux banner parallax -->
			<!-- enjoy our services -->
			<section class="section">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">服&nbsp;务&nbsp;宗&nbsp;旨<span class="title-secondary">安全 舒适 便捷</span></h2>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-globe"></i> 设计别样的旅程</h3>
							<p>专业团队为您设计独家定制旅途安排，让您旅途难忘</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-taxi"></i> 周到接机服务</h3>
							<p>提前预定接送服务，为您的旅途保驾护航</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-glass"></i> 酒店内私密酒吧</h3>
							<p>无论会客，还是交友，为您的隐私需要提供绝佳场所</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-life-ring"></i> 及其优惠的价格</h3>
							<p>作为酒店行业运营的佼佼者，我们拥有最打动人的价格</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-leaf"></i> 专业人员服务</h3>
							<p>专业的酒店人员服务，让您宾至如归</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<h3 class="service_title"><i class="fa fa-eye"></i> 24小时泊车服务</h3>
							<p>酒店停车场24小时专人泊车，让您拜托停车难的困扰</p>
						</div>
					</div>
				</div>
			</section>
			<!-- /enjoy our services -->
			<!-- testiomonials -->
			<section class="testimonials">
				<div class="container">
					<div class="title-main">
						<h2 class="h2">评&nbsp;&nbsp;&nbsp;&nbsp;价<span class="title-secondary">客人对我们的评价</span></h2>
					</div>
					<div class="owl-carousel">
						<div class="item">
							<div class="testimonials-block_i">
								<div class="testimonials-block_t">Great <span>Service</span></div>
								<p>Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By
									rent an part need. At wrong of of water those linen. Needed oppose seemed how all</p>
							</div>
							<div class="testimonials-block_user">
								<div class="user_img"><img src="assets/images/testimonials/mike.jpg" alt=""></div>
								<div class="user_n">Garry Carlson</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials-block_i">
								<div class="testimonials-block_t">Thank You Very Much <span>I Am Happy!</span></div>
								<p>Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable
									him. Interested the unaffected mrs law friendship add principles.</p>
							</div>
							<div class="testimonials-block_user">
								<div class="user_img"><img src="assets/images/testimonials/mila.png" alt=""></div>
								<div class="user_n">Mila Markovna</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /testiomonials -->
			<!-- map -->
			<section class="map">
				<div id="map"></div>
			</section>
			<!-- /map -->
			<!-- /main wrapper -->
			<!-- footer -->
			<div th:replace="front/footer::footer"></div>
			<!-- /footer -->
		</div>
		
		
		<!-- Scripts -->
		<script type="text/javascript" src="assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/tether.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="assets/js/moment.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.smartmenus.js"></script>
		<script type="text/javascript" src="assets/js/jquery.parallax.min.js"></script>
		<script type="text/javascript" src="assets/js/jquery.shuffle.min.js"></script>
		<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
		<!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js"></script>--->
		<script type="text/javascript" src="assets/js/map.js"></script>
		<script type="text/javascript" src="assets/js/main.js"></script>
		<!-- /Scripts -->
		<!-- 文件上传js -->
		<script type="text/javascript" src="assets/js/jquery.fileupload.js"></script>
		<script type="text/javascript" src="assets/js/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="assets/js/jquery.ui.widget.js"></script>
		<!-- /文件上传js -->
		<!-- validate.js插件 -->
		<script src="assets/js/jquery.validate.min.js"></script>
		<!-- /validate.js插件 -->
		<!-- 前台js文件 -->
		<script type="text/javascript" src="assets/js/front.js"></script>
		<!-- 、前台js文件 -->
	</body>
</html>
